/* Styling the containers */
#technician-page-content{
  min-width: 100%;
  max-width: 100%;
}

#technician-page-content .card{
  min-width: 95%;
  max-width: 95%;
  margin: auto;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

/* Styling the text */
#technician-page-content h1{
  font-size: 175%;
  font-weight: bold;
}

#technician-page-content p{
  letter-spacing: 0.1em;
}

/* Making text responsive */
@media only screen and (max-width: 600px){
  #technician-page-content h1{
    font-size: 150%;
  }
  
  #technician-page-content p{
    letter-spacing: 0.05em;
  }
}

/* Styling the buttons */
#generate-button{
  background-color: #458647;
  border: 2px solid #458647; 
}
#generate-button:hover{
  background-color: white;
  color: black;
  border: 2px solid #458647; 
}
#decline-button{
  background-color: #428191;
  border: 2px solid #428191;
}
#decline-button:hover{
  background-color: white;
  color: black;
  border: 2px solid #458647; 
}

.button-container{
  min-width: 100%;
  max-width: 100%;
  align-items: center;
}

#technician-page-content button {
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  font-family: 'Verdana', sans-serif;
  margin: 1em 0.5em;
  cursor: pointer;
  border-radius: 5px;
  transition-duration: 0.4s;
  cursor: pointer;
  float: right;
}

/* Making buttons responsive */
@media only screen and (max-width: 400px){
  #technician-page-content button {
    margin: 0.25em 0.15em;
    font-size: 1em;
  }
}

/* Styling the applicant description */
#applicant-description{
  max-width: 95%;
  min-width: 95%;
}